@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html, body { 
    height: 100%; 
}
body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    overflow: hidden;
}
.content {
    bottom: 0;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-flow: column;
}
nav {
    width: 100%;
    flex: 0 1 auto;
    text-align: center;
    background-color: #f4f776;
}
.landing {
    min-height: 50%;
    min-width: 50%;
    text-align: center;
    border: 1px solid black;
    flex: 0 1 auto;
    width: 50%;
    align-self: center;
}
.login {
    min-height: 50%;
    min-width: 50%;
    text-align: center;
    border: 1px solid black;
    flex: 0 1 auto;
    width: 50%;
    align-self: center;
}
.register {
    min-height: 50%;
    min-width: 50%;
    text-align: center;
    border: 1px solid black;
    flex: 0 1 auto;
    width: 50%;
    align-self: center;
}
.logo {
    height: calc(100px - 2px);
    width: calc(100px - 2px);
    background-image: url("../images/logopc.png");
    background-size: cover;
    float: left;
    flex: 0 1 auto;
}
.hamburger {
    height: 100px;
    width: 100px;
    background-image: url("../images/hamburger.png");
    background-size: cover;
    float: left;
    flex: 0 1 auto;
}
.channelName {
    line-height: 100px;
    flex: 1 1 auto;
}
.chatContent {
    width: 100%;
    height: 75%;
    display: flex;
    flex-flow: row;
    flex: 1 1 auto;
}
.users {
    height: 100%;
    float: left;
    flex: 0 1 auto;
    background-color: #abb7b7;
}
.user {
    margin: 10px;
}
.online {

}
.offline {

}
.chat {
    flex: 1 1 auto;
    display: flex;
    flex-flow: column;
}
.messages {
    height: calc(90% - 2px);
    flex: 1 1 auto;
    float: right;
    overflow: auto;
}
.message {
    margin: 10px;
}
.messageInput {
    height: calc(10% - 2px);
    width: calc(100% - 2px); 
    display: flex;
    flex-flow: row;
}
.messageContent {
    height: 100%;
    width: calc(75% - 2px);
    flex: 0 1 auto;
}
.send {
    border: 1px solid black;
    width: calc(20% - 2px);
    flex: 1 1 auto;
}
.dropcont {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropcont a {
    color: black;
    padding: 16px;
    text-decoration: none;
    display: block;
}
.hamburger:hover .dropcont {
    display: block;
}
#messageText {
    height: 100%;
    width: 100%;
    outline: none;
    resize: none;
    overflow: auto;
}
#sendButton {
    background-image: url("../images/send.png");
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    border: 0;
    height: 100%;
    width: 100%;
}
#messageSendForm {
    display: inherit;
    flex-flow: inherit;
    flex: 1 1 auto;
}
.time {
    font-size: 0.75em;
    color: #bdc3c7;
}
#errMsg {
    color: red;
}